In [1]:
import pandas as pd
import random

def simulateShirtColor(count = 100):
    data = []
    for i in range(count):
        shirt = random.choice(["blue", "orange", "orange", "orange"])
        d = {"shirt" : shirt}
        data.append(d)
    df = pd.DataFrame(data)
    return df

In [2]:
simulateShirtColor()

     shirt
0   orange
1   orange
2   orange
3     blue
4   orange
..     ...
95    blue
96  orange
97  orange
98  orange
99  orange

[100 rows x 1 columns]